<div class="container">
  <h1 class="text-center"><%= @artist.name%>'s page</h1>
  <% if @artist.image_url %>
    <img src="<%= @artist.image_url %>" alt="Artist image">
  <% end %>
  <h3>Genres</h3>
  <% @artist.genres.each do |genre| %>
    <li><%= genre.name %></li>
  <% end %>
  <h3>About <%= @artist.name %></h3>
  <% if @artist.description %>
    <p><%= @artist.description %></p>
  <% end %>
  <%= button_to "Follow this artist!", {action: "create", :artist_id => @artist.id, :controller => "followed_artists", method: :post}, {class: "btn btn-primary"} %>
  <h3>Upcoming concerts (<%= @artist.concerts.count %>)</h3>
    <% @artist.concerts.each do |concert|   %>
      <div class="card my-2">
        <div class="card-body">
          <p><strong>Title: </strong><%= concert.title %></p>
          <p><strong>Location: </strong><%= concert.location %></p>
          <p><strong>Date: </strong><%= concert.date %></p>
          <%= link_to "See more", concert_path(concert), class: "btn btn-info" %>
        </div>
      </div>
    <% end %>
  <%= link_to "Go back", root_path, class: "btn btn-primary" %>
</div>
