
<div class="layout-container-profile">
    <div class="banner-one">
      <h1 class="text-center">My Profile</h1>
      <%= link_to 'Sign in with Spotify', '/auth/spotify', method: :post %>
    </div>

  <div class="profile-container">



    <div class="user-component">
      <% if current_user.photo.key %>
        <%= cl_image_tag current_user.photo.key, class: "profile-img" %>
      <% else %>
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "profile-img" %>
      <% end %>

      <% first_name = current_user.name.split[0] %>

      <h1><%= first_name.capitalize %></h1>
      <div class="text-left">
        <p class="text-left"><strong><i class="fa-solid fa-user mx-1"></i></strong> <%= @user.name.capitalize %></p>
        <p class="text-left"><strong><i class="fa-solid fa-envelope mx-1"></i> </strong> <%= @user.email %></p>
        <p><strong><i class="fa-solid fa-location-dot mx-1"></i> </strong> <%= "#{@user.city} #{@user.address} "%></p>
        <br>
        <div class="text-center">
          <p><%= link_to "Edit Profile", edit_user_registration_path, class: "edit-btn"%></p>
        </div>
      </div>
    </div>







    <div class="concerts-component">
      <% if @saved_concerts.empty? %>
        <p>You don't have any concerts saved.</p>
      <% else %>
        <p class="title-1" ><%= link_to "Saved Concerts", saved_concerts_path %></p>
        <div class="sub-container">
          <% @saved_concerts.each do |concert|   %>
            <div class="concert-profile-card">
                <%# <img src="https://media.istockphoto.com/id/1193274679/photo/excited-crowd-on-a-rock-concert.jpg?s=612x612&w=0&k=20&c=330XDxllhunHf5dt_IwMO2yxPBjXb5j_WMkf_0oWBmU=" alt="concert image"> %>
              <div class="dt">
                <h4><%= concert.concert.date.strftime("%d") %></h4>
                <p><%= concert.concert.date.strftime("%B") %></p>
              </div>
              <div class="art">
                <p><%= link_to concert.concert.artist.name, concert_path(concert.concert) %></p>
              </div>


            </div>
          <% end %>
        </div>
      <% end %>

    </div>

    <div class="artists-component">
      <p class="title-1" ><%= link_to "Favourite Artists", followed_artists_path %></p>

      <div class="sub-container">
        <% @followed_artists.each do |artist|   %>
          <div class="artist-card-profile">
            <% if artist.artist.image_url %>
              <img src="<%= artist.artist.image_url %>" alt="Artist image">
            <% else %>
              <img src="https://images.unsplash.com/photo-1605722243979-fe0be8158232?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mnx8fGVufDB8fHx8&w=1000&q=80" alt="Artist placeholder image">
            <% end %>
           <p><%= link_to "#{artist.artist.name}", artist_path(artist.artist)%></p>
          </div>
        <% end %>
      </div>
    </div>



    <div class="genres-component">
      <p class="title-1" >Favourite Genres</p>
      <div class="sub-container">
        <% b = Hash.new(0) %>
        <% @followed_artists.each do |a|   %>
          <%# <div class="artist-card-profile"> %>
            <% a.artist.genres.each do |v| %>
                <% b[v.name] += 1 %>
            <% end %>
        <% end %>
        <% c = b.sort_by {|k,v| v}.reverse.take(10) %>
        <% c.take(10).each do |k, v| %>
          <p><%= "#{k} (#{v})"%></p>
        <%  end  %>
      </div>
    </div>


  </div>

  <div class="banner-one">
    <h5 class="text-center"><%= button_to "Cancel account", cancel_user_registration_path, data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class:"cancel-btn" %></h5>
  </div>

</div>
