<!-- app/views/users/show.html.erb -->
<% first_name = current_user.name.split[0] %>

<h1><%= first_name.capitalize %>'s Profile</h1>
<p>Name: <%= @user.name %></p>
<p>Email: <%= @user.email %></p>
<p>Address: <%= @user.address %></p>

<p>To see your favourite artsits, click <%= link_to "here", followed_artists_path %></p>
<p>For all your saved concerts, click <%= link_to "here", saved_concerts_path %></p>

<button class="btn-accent"><%= link_to "Edit my Profile", edit_user_registration_path%></button>


<h3>Cancel my account</h3>

<div>Unhappy? <%= button_to "Cancel my account", cancel_user_registration_path, data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %></div>
