<div class="home-container">
  <div class="home-banner">
    <div class="heading">



      <h1 class="text-center neon-Text">Find your favourite concerts</h1>
      <%= form_with url: artists_path, method: :get, class: "d-flex search-form-border my-5" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control search-input-dark",
        placeholder: "Search for your favorite artist"
      %>
      <%= submit_tag "Search", class: "search-btn" %>
      <% end %>
    </div>
  </div>
  <div class="second-banner">
    <h1 class="text-center concertifyy">Concertify</h1>

        <% if user_signed_in? %>
        <% first_name = current_user.name.split[0] %>
        <h5 class="text-center s mb-5"><strong>Hey <%= first_name.capitalize  %>! </strong>Search by...</h5>
        <%# <h6 class="text-center home-subtitle">Concerts you might like...</h6> %>

      <% else %>
        <h5 class="text-center s">Search by...</h5>

      <% end %>



    <%# <p class="text-center s">Search by...</p> %>

    <div class="home-links">
      <%= link_to "CONCERTS", concerts_path, class: "btn btn-ghost" %>
      <%= link_to "ARTISTS", artists_path, class: "btn btn-ghost" %>
    </div>

  </div>
</div>
