
<div class="layout-container">

  <div class="banner-one">
    <h1 class="text-center">Your favourite artists <i class="fa-solid fa-heart pink"></i></h1>

  </div>


  <div class="card-artist-container">
    <% @followed_artists.each do |artist|   %>
      <div class="artist-card">
        <div class="artist-card-img">
          <% if artist.artist.image_url %>
            <img src="<%= artist.artist.image_url %>" alt="Artist image">
          <% else %>
            <img src="https://images.unsplash.com/photo-1605722243979-fe0be8158232?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mnx8fGVufDB8fHx8&w=1000&q=80" alt="Artist placeholder image">
          <% end %>
        </div>
        <div class="artist-card-body">
        <h2><%= link_to "#{artist.artist.name}", artist_path(artist.artist)%></h2>
          <%= button_to "Unfollow", {:controller => :followed_artists,
              :action => 'destroy', :id => artist.artist.id, :source => :followed_artists }, :method => :delete, class: "btn-accent my-2 w-50" %>
          <% if artist.artist.description %>
            <% last_space_index = artist.artist.description.slice(0, 120).rindex(" ") %>
            <%= artist.artist.description.slice(0, last_space_index) ... %></p>
          <% end %>
        </div>

      </div>


    <% end %>
  </div>

  <div>
    <%= link_to "Go back", root_path, class: "btn btn-light my-5 rounded" %>
  </div>
</div>
