
<div class="concerts-layout">

  <div class="banner-one">
    <h1 class="text-center">Concerts from your favourite artists!    <i class="fa-solid fa-heart pink"></i> </h1>
  </div>

  <div
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
    id='map'
    style='width: 100%; height: 300px; border-radius: 10px'>
  </div>

  <div class="big-box mt-5">
    <div class="masonry-grid">
      <% @filtered_concerts.each do |concert|   %>
        <div class="item one masonry-cell">
          <% if concert.artist.image_url %>
            <img src="<%= concert.artist.image_url %>" alt="Concert image", class="item-1-img">
          <% else %>
            <img class="item-1-img" src="https://media.istockphoto.com/id/1193274679/photo/excited-crowd-on-a-rock-concert.jpg?s=612x612&w=0&k=20&c=330XDxllhunHf5dt_IwMO2yxPBjXb5j_WMkf_0oWBmU=" alt="concert image">
          <% end %>
          <p class="masonry-date hover-disapear"><%= link_to "#{concert.artist.name}", concert_path(concert), class: "" %> <br><span> <%=concert.date.strftime("%B %d")%></span></p>

        </div>
      <% end %>
    </div>
  </div>


  <div class="banner-one text-center back">
    <%= link_to "Go back", root_path, class: "btn btn-accent" %>
  </div>
</div>
